<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="origin-trial" content="AvVVD0vRFcVG5+Z0vn8wrVPWUt98Q6/e73ZIicw+Noko1IwIrkB1siQlxc+IdvM0nISlKulUqzx2QflMi1YgFA8AAABieyJvcmlnaW4iOiJodHRwOi8vbG9jYWxob3N0OjkwMDAiLCJmZWF0dXJlIjoiV2ViQXNzZW1ibHlKU1Byb21pc2VJbnRlZ3JhdGlvbiIsImV4cGlyeSI6MTczOTkyMzE5OX0=">
    <title>demo</title>
    <link rel="stylesheet" href="./element-ui.css" crossorigin>
    <style>
      html, body {
        width: 100%;
        height: 100%;
        margin: 0;
      }

      #video,
      #canvas {
        width: 480px;
        height: 360px;
      }

      #video {
        background-color: #000;
      }

      #mask {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.6);
        text-align: center;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .button {
        display: inline-block;
        background-color: #1795FF;
        padding: 8px 10px;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
      }
      .stats {
        margin-left: 10px;
      }
      .stats-text {
        color: #1795FF;
      }

      .player {
        position: relative;
        /* width: 480px; */
        /* height: 360px; */
        overflow: hidden;
        position: relative;
        margin-left: 10px;
      }
      #slider {
        width: 450px;
        left: 15px;
        position: absolute;
        bottom: 0;
      }

      #url {
        margin-left: 10px;
        width: 480px;
        margin-top: 20px;
      }
      .options {
        margin-left: 10px;
        margin-top: 10px;
      }
      .load {
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .button-group {
        margin-left: 10px;
      }
      .button-group button + button {
        margin-left: 4px;
      }
      #video-change,
      #audio-change,
      #subtitle-change,
      #play-rate {
        display: none;
        width: 70px;
        margin-top: 10px;
        position: absolute;
        bottom: 0;
        left: 500px;
      }

      #video-change {
        bottom: 70px;
      }
      #audio-change {
        bottom: 140px;
      }
      #subtitle-change {
        bottom: 210px;
      }

      .label {
        color: #606266;
        font-weight: 500;
        user-select: none;
        display: inline-block;
        line-height: 19px;
        font-size: 15px;
      }
      .support {
        margin-left: 10px;
      }

      #canvas-background-2,
      #canvas-background {
        background-color: #000;
        width: 480px;
        height: 360px;
        display: inline-block;
        position: relative;
      }

      #canvas-background {
        overflow: hidden;
      }

      .renderMode {
        margin-top: 10px;
        margin-left: 10px;
      }

      .renderRotate {
        margin-top: 10px;
        margin-left: 10px;
      }

      .flip {
        margin-top: 10px;
        margin-left: 10px;
      }

      .subtitle {
        color: #fff;
        font-size: 14px;
        position: absolute;
        bottom: 12px;
        text-align: center;
        width: 100%;
        /* padding: 0 50px; */
        /* margin: 0 50px; */
      }

      .loading-mask {
        position: absolute;
        z-index: 2000;
        margin: 0;
        top: 0;
        bottom: 0;
        left: 0;
        width: 480px;
        display: none;
      }

      .loading-spinner {
        top: 50%;
        margin-top: -21px;
        width: 100%;
        text-align: center;
        position: absolute;
      }

      .loading-spinner .circular {
        height: 42px;
        width: 42px;
        animation: loading-rotate 2s linear infinite;
      }

      .loading-spinner .circular .path {
        animation: loading-dash 1.5s ease-in-out infinite;
        stroke-dasharray: 90, 150;
        stroke-dashoffset: 0;
        stroke-width: 2;
        stroke: #fff;
        stroke-linecap: round;
      }

      @keyframes loading-rotate {
          to {
              transform: rotate(1turn)
          }
      }
      @keyframes loading-dash {
          0% {
              stroke-dasharray: 1,200;
              stroke-dashoffset: 0
          }

          50% {
              stroke-dasharray: 90,150;
              stroke-dashoffset: -40px
          }

          to {
              stroke-dasharray: 90,150;
              stroke-dashoffset: -120px
          }
      }
    </style>
</head>
<body>

    <div style="margin-left: 10px;">
      支持 mp4、mov、mpegts、flv、matroska、webm、mp3、ogg、flac、aac、wav 封装格式 <br>
      支持 hls、dash 协议 （只支持 url 播放）<br>
      支持 vvc、av1、hevc、h264、vp9、vp8、mpeg4、aac、mp3、opus、speex、flac、vorbis、g711 编码 <br>
      支持直播（LIVE）和点播（VOD） <br>
      支持本地文件播放和网络 url 地址播放 <br>

      demo 的解码器在 github 仓库中，加载可能比较慢。
    </div>

    <div id="url">
      <el-input v-model="url" placeholder="请输入 url 地址">
        <template slot="prepend">url</template>
      </el-input>
      
    </div>

    <div style="margin-left: 10px; margin-top: 10px;">
      <input id="file" type="file" onchange="onFileOpen(this)" />
    </div>

    <div class="options">
      <div id="isLive">
        <el-checkbox v-model="isLive">isLive</el-checkbox>
      </div>
      <div id="enableSimd">
        <el-checkbox v-model="enableSimd">enable simd</el-checkbox>
      </div>
      <div id="enableWebCodecs">
        <el-checkbox v-model="enableWebCodecs">enable WebCodecs</el-checkbox>
      </div>
      <div id="enableHardwareAcceleration">
        <el-checkbox v-model="enableHardwareAcceleration">enable hardwareAcceleration</el-checkbox>
      </div>
      <div id="enableWorker">
        <el-checkbox v-model="enableWorker">enable Worker</el-checkbox>
      </div>
      <div id="useMse">
        <el-checkbox v-model="useMse">use MSE</el-checkbox>
      </div>
      <div id="enableWebGPU">
        <el-checkbox v-model="enableWebGPU">enable WebGPU</el-checkbox>
      </div>
      <div id="loop">
        <el-checkbox v-model="loop">loop</el-checkbox>
      </div>
      <div id="mediaStreamMode">
        <el-checkbox v-model="mediaStreamMode">mediaStreamMode</el-checkbox>
      </div>

      <br>

      <!-- <div class="loader">
        <span class="label">loader: </span>
        <div id="loader" style="display: inline-block;">
          <el-radio v-model="radio" label="1">Url</el-radio>
          <el-radio v-model="radio" label="2">File</el-radio>
        </div>
      </div> -->

    </div>

    <br>

    <div class="player">
      <div id="canvas-background">
      </div>
      <div id="canvas-background-2" style="display: none;">
      </div>
      <div id="slider">
        <el-slider v-model="currentTime" :max="duration" :disabled="disabled" @change="seek"></el-slider>
      </div>

      <div id="play-rate">
        倍速:
        <el-select v-model="value" @change="changeRate">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.value"
            :value="item.value">
          </el-option>
        </el-select>
      </div>

      <div id="video-change">
        视频:
        <el-select v-model="value" @change="change">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.name"
            :value="item.value">
          </el-option>
        </el-select>
      </div>

      <div id="audio-change">
        音频:
        <el-select v-model="value" @change="change">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.name"
            :value="item.value">
          </el-option>
        </el-select>
      </div>

      <div id="subtitle-change">
        字幕:
        <el-select v-model="value" @change="change">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.name"
            :value="item.value">
          </el-option>
        </el-select>
      </div>

      <div class="loading-mask" id="loading-mask">
        <div class="loading-spinner">
          <svg viewBox="25 25 50 50" class="circular">
            <circle cx="50" cy="50" r="20" fill="none" class="path">

            </circle>
          </svg>
        </div>
      </div>
    </div>

    <div class="flip">
      <span class="label">翻转: </span>
      <div id="flipHorizontal" style="display: inline-block;">
        <el-checkbox v-model="flipHorizontal">水平翻转</el-checkbox>
      </div>
      <div id="flipVertical" style="display: inline-block; margin-left: 10px;">
        <el-checkbox v-model="flipVertical">垂直翻转</el-checkbox>
      </div>
    </div>

    <div class="renderMode">
      <span class="label">renderMode: </span>
      <div id="renderMode" style="display: inline-block;">
        <el-radio v-model="radio" label="0">适应</el-radio>
        <el-radio v-model="radio" label="1">填充</el-radio>
      </div>
    </div>

    <div class="renderRotate">
      <span class="label">renderRotate: </span>
      <div id="renderRotate" style="display: inline-block;">
        <el-radio v-model="radio" label="0">0</el-radio>
        <el-radio v-model="radio" label="90">90</el-radio>
        <el-radio v-model="radio" label="180">180</el-radio>
        <el-radio v-model="radio" label="270">270</el-radio>
      </div>
    </div>

    <button id="load" class="load" onclick="loadPlayer('#canvas-background')" disabled>Load</button>
    <button class="play" onclick="playPlayer()" >play</button>
    <button class="play" onclick="pausePlayer()" >pause</button>
    <button class="play" onclick="stopPlayer()" >stop</button>
    <button onclick="clickAddSubtitle()">添加字幕</button>
    <input id="subtitleFile" type="file" onchange="addSubtitle(this)" style="display: none;" />
    <!-- <button onclick="openWriteFile()" >write file</button> -->

    <div class="button-group">
      <button onclick="addVolume()">音量 +</button>
      <button onclick="subVolume()">音量 -</button>
      <button onclick="enterFullscreen()">全屏</button>
      <button onclick="resume()">resume</button>
      <button onclick="nextFrame()">下一帧</button>
    </div>

    <br/>

    <div class="stats">
      <div class="stats-item">
        audiocodec: <span id="audiocodec" class="stats-text"></span>
      </div>
      <div class="stats-item">
        videocodec: <span id="videocodec" class="stats-text"></span>
      </div>
      <div class="stats-item">
        width: <span id="width" class="stats-text">0</span>
      </div>
      <div class="stats-item">
        height: <span id="height" class="stats-text">0</span>
      </div>
      <div class="stats-item">
        channels: <span id="channels" class="stats-text">0</span>
      </div>
      <div class="stats-item">
        sampleRate: <span id="sampleRate" class="stats-text">0</span>
      </div>
      <div class="stats-item">
        audioStutter: <span id="audioStutter" class="stats-text">0</span>
      </div>
      <div class="stats-item">
        videoStutter: <span id="videoStutter" class="stats-text">0</span>
      </div>
      <div class="stats-item">
        A-V: <span id="A_V" class="stats-text">0</span> ms
      </div>
      <div class="stats-item">
        bandwidth: <span id="bandwidth" class="stats-text">0</span> kbps
      </div>
      <div class="stats-item">
        audioBitrate: <span id="audioBitrate" class="stats-text">0</span> kbps
      </div>
      <div class="stats-item">
        videoBitrate: <span id="videoBitrate" class="stats-text">0</span> kbps
      </div>
      <div class="stats-item">
        jitterMin: <span id="jitterMin" class="stats-text">0</span>
      </div>
      <div class="stats-item">
        jitterMax: <span id="jitterMax" class="stats-text">0</span>
      </div>
      <div class="stats-item">
        audioPacketQueueLength: <span id="audioPacketQueueLength" class="stats-text">0</span>
      </div>
      <div class="stats-item">
        videoPacketQueueLength: <span id="videoPacketQueueLength" class="stats-text">0</span>
      </div>
      <div class="stats-item">
        videoEncodeFramerate: <span id="videoEncodeFramerate" class="stats-text">0</span>
      </div>
      <div class="stats-item">
        videoDecodeFramerate: <span id="videoDecodeFramerate" class="stats-text">0</span>
      </div>
      <div class="stats-item">
        videoRenderFramerate: <span id="videoRenderFramerate" class="stats-text">0</span>
      </div>
      <div class="stats-item">
        keyFrameInterval: <span id="keyFrameInterval" class="stats-text">0</span>
      </div>
      <div class="stats-item">
        audioEncodeFramerate: <span id="audioEncodeFramerate" class="stats-text">0</span>
      </div>
      <div class="stats-item">
        audioDecodeFramerate: <span id="audioDecodeFramerate" class="stats-text">0</span>
      </div>
      <div class="stats-item">
        audioRenderFramerate: <span id="audioRenderFramerate" class="stats-text">0</span>
      </div>
      <div class="stats-item">
        audioFrameDecodeIntervalMax: <span id="audioFrameDecodeIntervalMax" class="stats-text">0</span>
      </div>
      <div class="stats-item">
        audioFrameRenderIntervalMax: <span id="audioFrameRenderIntervalMax" class="stats-text">0</span>
      </div>
      <div class="stats-item">
        videoFrameDecodeIntervalMax: <span id="videoFrameDecodeIntervalMax" class="stats-text">0</span>
      </div>
      <div class="stats-item">
        videoFrameRenderIntervalMax: <span id="videoFrameRenderIntervalMax" class="stats-text">0</span>
      </div>
      <div class="stats-item">
        jitter: <span id="jitter" class="stats-text">0</span>
      </div>
    </div>
    <div id="ua"></div>

    <script>
      window.CHEAP_DISABLE_THREAD = false
    </script>
    <script src="./sw.js"></script>
    <script id="cheap-polyfill" src="../dist/cheap-polyfill.js"></script>
    <script>
      if (BigInt === Number) {
        window.CHEAP_POLYFILL_URL = document.querySelector('#cheap-polyfill').src
      }
    </script>
    <script src="../dist/avplayer/avplayer.js"></script>
    <script src="./vue.js" crossorigin></script>
    <script src="./element-ui.js" crossorigin></script>

    <!-- <script src="./vconsole.min.js"></script> -->
    <!-- <script>
      var vConsole = new window.VConsole();
    </script> -->

    <script>
      
      
      let player;
      let slider;
      let urlComponent;
      let isLiveComponent;
      let enableSimdComponent;
      let enableWebCodecsComponent;
      let enableHardwareComponent;
      let enableWorkerComponent;
      let useMseComponent;
      let loopComponent;
      let mediaStreamModeComponent;
      let enableWebGPUComponent;
      let renderModeComponent;
      let renderRotateComponent;
      let loaderComponent;
      let playRateComponent;
      let videoChangeComponent;
      let audioChangeComponent;
      let subtitleChangeComponent;
      let isSeeking;
      const sliderRatio = 1000;
      let supportAtomic = true

      const sliderDom = document.querySelector('#slider')
      const playRateDom = document.querySelector('#play-rate')
      const videoChangeDom = document.querySelector('#video-change')
      const audioChangeDom = document.querySelector('#audio-change')
      const subtitleChangeDom = document.querySelector('#subtitle-change')
      const canvasBg = document.querySelector('#canvas-background')
      const video = document.querySelector('#video')
      const audio = document.querySelector('#audio')
      let mediaStreamModeVideo


      class MyIOLoader extends AVPlayer.IOLoader.CustomIOLoader {

        get ext() {
          return this.file.name.split('.').pop()
        }

        get name() {
          return this.file.name
        }

        constructor(file) {
          super()
          this.file = file
          this.loader = new AVPlayer.IOLoader.FileIOLoader()
        }

        async open() {
          return this.loader.open(
            {
              file: this.file
            },
            {
              from: 0,
              to: -1
            }
          )
        }

        async read(buffer) {
          return this.loader.read(buffer)
        }

        async seek(pos) {
          return this.loader.seek(pos)
        }

        async size() {
          return this.loader.size()
        }

        async stop() {
          return this.loader.stop()
        }
      }

      let statsTimer;

      let url = ''
      let defaultVersion = '-atomic'

      function onFileOpen(target) {

      }

      function openWriteFile() {
        window.showSaveFilePicker({
          suggestedName: 'test_log.mp4'
        }).then((handle) => {
          window.SafeFileIO = new AVPlayer.SafeFileIO(handle)
          window.SafeFileIO.ready().then(() => {
            console.log('test log ready')
          })
        })
      }

      function loadPlayer(id) {

        if (!AVPlayer.audioContext) {
          AVPlayer.audioContext = new AudioContext()
          AVPlayer.audioContext.createBufferSource()
        }

        if (!player) {
          const container = mediaStreamModeComponent.mediaStreamMode ? new MediaStream() : document.querySelector(id)
          player = new AVPlayer({
            container,
            isLive: isLiveComponent.isLive,
            getWasm: (type, codecId) => {
              switch (type) {
                case 'decoder': {

                  if (codecId >= 65536 && codecId <= 65572) {
                    return `../dist/decode/pcm${(enableSimdComponent.enableSimd) ? '-simd' : (supportAtomic ? defaultVersion : '')}.wasm`
                  }

                  switch (codecId) {
                    // mpeg1/2
                    case 2:
                      return `../dist/decode/mpeg2video${(enableSimdComponent.enableSimd) ? '-simd' : (supportAtomic ? defaultVersion : '')}.wasm`
                    // H264
                    case 27:
                      return `../dist/decode/h264${(enableSimdComponent.enableSimd) ? '-simd' : (supportAtomic ? defaultVersion : '')}.wasm`
                    // theora
                    case 30:
                      return `../dist/decode/theora${(enableSimdComponent.enableSimd) ? '-simd' : (supportAtomic ? defaultVersion : '')}.wasm`
                    // AAC
                    case 86018:
                      return `../dist/decode/aac${(enableSimdComponent.enableSimd) ? '-simd' : (supportAtomic ? defaultVersion : '')}.wasm`
                    // ac3
                    case 86019:
                      return `../dist/decode/ac3${(enableSimdComponent.enableSimd) ? '-simd' : (supportAtomic ? defaultVersion : '')}.wasm`
                    // eac3
                    case 86056:
                      return `../dist/decode/eac3${(enableSimdComponent.enableSimd) ? '-simd' : (supportAtomic ? defaultVersion : '')}.wasm`
                    // dts
                    case 86020:
                      return `../dist/decode/dca${(enableSimdComponent.enableSimd) ? '-simd' : (supportAtomic ? defaultVersion : '')}.wasm`
                      // MP3
                    case 86017:
                      return `../dist/decode/mp3${(enableSimdComponent.enableSimd) ? '-simd' : (supportAtomic ? defaultVersion : '')}.wasm`
                    // HEVC
                    case 173:
                      return `../dist/decode/hevc${(enableSimdComponent.enableSimd) ? '-simd' : (supportAtomic ? defaultVersion : '')}.wasm`
                    // VVC
                    case 196:
                      return `../dist/decode/vvc${(enableSimdComponent.enableSimd) ? '-simd' : (supportAtomic ? defaultVersion : '')}.wasm`
                    // Mpeg4
                    case 12:
                      return `../dist/decode/mpeg4${(enableSimdComponent.enableSimd) ? '-simd' : (supportAtomic ? defaultVersion : '')}.wasm`
                    // AV1
                    case 225:
                      return `../dist/decode/av1${(enableSimdComponent.enableSimd) ? '-simd' : (supportAtomic ? defaultVersion : '')}.wasm`
                    // Speex
                    case 86051:
                      return `../dist/decode/speex${(enableSimdComponent.enableSimd) ? '-simd' : (supportAtomic ? defaultVersion : '')}.wasm`
                    // Opus
                    case 86076:
                      return `../dist/decode/opus${(enableSimdComponent.enableSimd) ? '-simd' : (supportAtomic ? defaultVersion : '')}.wasm`
                    // flac
                    case 86028:
                      return `../dist/decode/flac${(enableSimdComponent.enableSimd) ? '-simd' : (supportAtomic ? defaultVersion : '')}.wasm`
                    // vorbis
                    case 86021:
                      return `../dist/decode/vorbis${(enableSimdComponent.enableSimd) ? '-simd' : (supportAtomic ? defaultVersion : '')}.wasm`
                    // vp8
                    case 139:
                      return `../dist/decode/vp8${(enableSimdComponent.enableSimd) ? '-simd' : (supportAtomic ? defaultVersion : '')}.wasm`
                    // vp9
                    case 167:
                      return `../dist/decode/vp9${(enableSimdComponent.enableSimd) ? '-simd' : (supportAtomic ? defaultVersion : '')}.wasm`
                    default:
                      return null
                  }
                  break
                }
                case 'resampler':
                  return `../dist/resample/resample${(enableSimdComponent.enableSimd) ? '-simd' : (supportAtomic ? defaultVersion : '')}.wasm`
                case 'stretchpitcher':
                  return `../dist/stretchpitch/stretchpitch${(enableSimdComponent.enableSimd) ? '-simd' : (supportAtomic ? defaultVersion : '')}.wasm`
              }
            },
            checkUseMES: (streams) => {
              return useMseComponent.useMse
            },
            enableHardware: enableHardwareComponent.enableHardwareAcceleration,
            enableWebCodecs: enableWebCodecsComponent.enableWebCodecs,
            enableWebGPU: enableWebGPUComponent.enableWebGPU,
            enableWorker: enableWorkerComponent.enableWorker,
            loop: loopComponent.loop,
            jitterBufferMax: 4,
            jitterBufferMin: 1,
            lowLatency: true,
            // audioWorkletBufferLength: 40
          })
          if (mediaStreamModeComponent.mediaStreamMode) {
            mediaStreamModeVideo = document.createElement('video')
            mediaStreamModeVideo.style.cssText = `
              width: 100%;
              height: 100%;
            `
            mediaStreamModeVideo.srcObject = container
            document.querySelector(id).appendChild(mediaStreamModeVideo)
          }
        }
        if (!isLiveComponent.isLive && !slider) {
          slider = new Vue({
            el: '#slider',
            data: function() {
              return { 
                currentTime: 0,
                duration: 0
              }
            },
            computed: {
              disabled: function () {
                return this.duration <= 0
              }
            },
            methods: {
              seek() {
                isSeeking = true
                player.seek(BigInt(this.currentTime)).then(() => {
                  isSeeking = false
                })
              }
            }
          })
        }
        else if (isLiveComponent.isLive) {
          sliderDom.style.display = 'none'
        }

        if (!isLiveComponent.isLive && !playRateComponent) {
          playRateComponent = new Vue({
            el: '#play-rate',
            data: function() {
              return { 
                options: [
                  {
                    value: 0.5
                  },
                  {
                    value: 0.75
                  },
                  {
                    value: 1.0
                  },
                  {
                    value: 1.2
                  },
                  {
                    value: 1.5
                  },
                  {
                    value: 2.0
                  }
                ],
                value: 1.0
              }
            },
            methods: {
              changeRate() {
                if (player) {
                  player.setPlaybackRate(this.value)
                }
              }
            },
            mounted: function () {
              this.$el.style.display = 'inline-block'
            }
          })
        }
        else if (isLiveComponent.isLive) {
          playRateDom.style.display = 'none'
        }

        document.querySelector('#loading-mask').style.display = 'block'

        if (slider) {
          slider.currentTime = 0
        }

        player.load(document.querySelector('#file').files[0] ? document.querySelector('#file').files[0] : urlComponent.url, {
          isLive: isLiveComponent.isLive
        }).then(() => {
          
          if (slider) {
            slider.duration = Number(player.getDuration())
          }

          Promise.all([
            player.getVideoList(),
            player.getAudioList(),
            player.getSubtitleList()
          ]).then((data) => {

            let videoList = data[0]
            let audioList = data[1]
            let subtitleList = data[2]

            if (videoList.list.length > 1) {
              if (videoChangeComponent) {
                videoChangeComponent.$destroy()
                document.querySelector('#video-change').innerHTML = `视频:
                <el-select v-model="value" @change="change">
                  <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.name"
                    :value="item.value">
                  </el-option>
                </el-select>`
              }
              videoChangeComponent = new Vue({
                el: '#video-change',
                data: function() {
                  return { 
                    options: videoList.list.map((item, index) => {
                      return {
                        value: index,
                        name: `${item.width}*${item.height}@${item.frameRate}`
                      }
                    }),
                    value: videoList.selectedIndex
                  }
                },
                methods: {
                  change() {
                    if (player) {
                      player.selectVideo(this.value)
                    }
                  }
                },
                mounted: function () {
                  this.$el.style.display = 'inline-block'
                }
              })
            }
            else {
              videoChangeDom.style.display = 'none'
            }

            if (audioList.list.length > 1) {
              if (audioChangeComponent) {
                audioChangeComponent.$destroy()
                document.querySelector('#audio-change').innerHTML = `音频:
                <el-select v-model="value" @change="change">
                  <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.name"
                    :value="item.value">
                  </el-option>
                </el-select>`
              }
              audioChangeComponent = new Vue({
                el: '#audio-change',
                data: function() {
                  return { 
                    options: audioList.list.map((item, index) => {
                      return {
                        value: index,
                        name: item.lang
                      }
                    }),
                    value: audioList.selectedIndex
                  }
                },
                methods: {
                  change() {
                    if (player) {
                      player.selectAudio(this.value)
                    }
                  }
                },
                mounted: function () {
                  this.$el.style.display = 'inline-block'
                }
              })
            }
            else {
              audioChangeDom.style.display = 'none'
            }

            if (subtitleList.list.length > 1) {
              if (subtitleChangeComponent) {
                subtitleChangeComponent.$destroy()
                document.querySelector('#subtitle-change').innerHTML = `字幕:
                <el-select v-model="value" @change="change">
                  <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.name"
                    :value="item.value">
                  </el-option>
                </el-select>`
              }
              subtitleChangeComponent = new Vue({
                el: '#subtitle-change',
                data: function() {
                  return { 
                    options: subtitleList.list.map((item, index) => {
                      return {
                        value: index,
                        name: `${item.lang}-${item.codecs}`
                      }
                    }),
                    value: subtitleList.selectedIndex
                  }
                },
                methods: {
                  change() {
                    if (player) {
                      player.selectSubtitle(this.value)
                    }
                  }
                },
                mounted: function () {
                  this.$el.style.display = 'inline-block'
                }
              })
            }
            else {
              document.querySelector('#subtitle-change').style.display = 'none'
            }

            // player.seek(400000).then(() => {
              player.play({
                audio: true,
                video: true,
                subtitle: true
              }).then(() => {
                if (mediaStreamModeVideo) {
                  mediaStreamModeVideo.play()
                }
                document.querySelector('#loading-mask').style.display = 'none'
                if (!player.isDash()) {
                  const audioStreams = player.getStreams().filter((s => s.mediaType === 'Audio'))
                  const videoStreams = player.getStreams().filter((s => s.mediaType === 'Video'))

                  if (audioStreams.length > 1) {
                    if (audioChangeComponent) {
                      audioChangeComponent.$destroy()
                      document.querySelector('#audio-change').innerHTML = `音频:
                      <el-select v-model="value" @change="change">
                        <el-option
                          v-for="item in options"
                          :key="item.value"
                          :label="item.name"
                          :value="item.value">
                        </el-option>
                      </el-select>`
                    }
                    audioChangeComponent = new Vue({
                      el: '#audio-change',
                      data: function() {
                        return { 
                          options: audioStreams.map((item) => {
                            return {
                              value: item.id,
                              name: item.metadata['title'] || item.metadata['languageString'] || item.metadata['language'] || item.metadata['name'] || 'default'
                            }
                          }),
                          value: player.getSelectedAudioStreamId()
                        }
                      },
                      methods: {
                        change() {
                          if (player) {
                            player.selectAudio(this.value)
                          }
                        }
                      },
                      mounted: function () {
                        this.$el.style.display = 'inline-block'
                      }
                    })
                  }
                  else {
                    document.querySelector('#audio-change').style.display = 'none'
                  }

                  if (videoStreams.length > 1) {
                    if (videoChangeComponent) {
                      videoChangeComponent.$destroy()
                      document.querySelector('#video-change').innerHTML = `视频:
                      <el-select v-model="value" @change="change">
                        <el-option
                          v-for="item in options"
                          :key="item.value"
                          :label="item.name"
                          :value="item.value">
                        </el-option>
                      </el-select>`
                    }
                    videoChangeComponent = new Vue({
                      el: '#video-change',
                      data: function() {
                        return { 
                          options: videoStreams.map((item) => {
                            return {
                              value: item.id,
                              name: item.metadata['title'] || item.metadata['languageString'] || item.metadata['language'] || item.metadata['name'] || 'default'
                            }
                          }),
                          value: player.getSelectedVideoStreamId()
                        }
                      },
                      methods: {
                        change() {
                          if (player) {
                            player.selectVideo(this.value)
                          }
                        }
                      },
                      mounted: function () {
                        this.$el.style.display = 'inline-block'
                      }
                    })
                  }
                  else {
                    document.querySelector('#video-change').style.display = 'none'
                  }

                  updateSubtitleList()
                }
              })
            // })
          })
        })

        player.on('ended', () => {
          if (statsTimer) {
            clearTimeout(statsTimer)
            statsTimer = null
            handleStats(player.getStats())
          }
          if (slider) {
            slider.currentTime = slider.duration
          }
          // player.destroy().then(() => {
          //   player = null
          //   console.log('player destroy')
          // })
        })

        player.on('time', (pts) => {
          if (slider && !isSeeking) {
            slider.currentTime = Number(pts)
          }
        })

        if (statsTimer) {
          clearTimeout(statsTimer)
        }
        statsTimer = setInterval(() => {
          handleStats(player.getStats())
        }, 1000)
      }

      function addVolume() {
        player.setVolume(player.getVolume() + 0.3)
      }
      function subVolume() {
        player.setVolume(player.getVolume() - 0.3)
      }

      function enterFullscreen() {
        player.enterFullscreen()
      }
      function resume() {
        player.resume()
      }
      function replay() {
        player.replay()
      }

      function playPlayer() {
        if (player) {
          player.play()
        }
      }

      function pausePlayer() {
        if (player) {
          player.pause()
        }
      }

      function stopPlayer() {
        if (player) {
          player.stop().then(() => {
            if (statsTimer) {
            clearTimeout(statsTimer)
            statsTimer = null
            }
            if (slider) {
              slider.currentTime = 0
            }
            // player.destroy().then(() => {
            //   player = null
            //   console.log('player destroy')
            // })
          })
        }
      }

      function updateSubtitleList() {
        if (!player) {
          return
        }
        const subtitleStreams = player.getStreams().filter((s => s.mediaType === 'Subtitle'))
        if (subtitleStreams.length > 1) {
          if (subtitleChangeComponent) {
            subtitleChangeComponent.$destroy()
            document.querySelector('#subtitle-change').innerHTML = `字幕:
            <el-select v-model="value" @change="change">
              <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.name"
                :value="item.value">
              </el-option>
            </el-select>`
          }
          subtitleChangeComponent = new Vue({
            el: '#subtitle-change',
            data: function() {
              return { 
                options: subtitleStreams.map((item) => {
                  return {
                    value: item.id,
                    name: item.metadata['title'] || item.metadata['languageString'] || item.metadata['language'] || item.metadata['name'] || 'default'
                  }
                }),
                value: player.getSelectedSubtitleStreamId()
              }
            },
            methods: {
              change() {
                if (player) {
                  player.selectSubtitle(this.value)
                }
              }
            },
            mounted: function () {
              this.$el.style.display = 'inline-block'
            }
          })
        }
        else {
          document.querySelector('#subtitle-change').style.display = 'none'
        }
      }

      function clickAddSubtitle() {
        document.querySelector('#subtitleFile').click()
      }

      function addSubtitle(target) {
        if (player) {
          const file = target.files[0]
          player.loadExternalSubtitle({
            source: file,
            title: file.name.split('.').pop()
          }).then(() => {
            updateSubtitleList()
          })
        }
      }

      function nextFrame() {
        if (player) {
          player.playNextFrame()
        }
      }

      const statsKeys = [
        'audiocodec',
        'videocodec',
        'width',
        'height',
        'channels',
        'sampleRate',
        'bandwidth',
        'audioBitrate',
        'videoBitrate',
        'audioPacketQueueLength',
        'videoPacketQueueLength',
        'videoEncodeFramerate',
        'videoDecodeFramerate',
        'videoRenderFramerate',
        'keyFrameInterval',
        'audioEncodeFramerate',
        'audioDecodeFramerate',
        'audioRenderFramerate',
        'audioFrameDecodeIntervalMax',
        'audioFrameRenderIntervalMax',
        'videoFrameDecodeIntervalMax',
        'videoFrameRenderIntervalMax',
        'jitter',
        'audioStutter',
        'videoStutter'
      ]

      function handleStats(stats) {
        statsKeys.forEach((key) => {
          const span = document.querySelector('#' + key)
          if (!span) {
            return
          }
          let value = stats[key]

          if (key === 'audioBitrate' || key === 'videoBitrate' || key === 'bandwidth') {
            value = value * 8 / 1000
          }

          span.textContent = value
        })

        document.querySelector('#jitterMin').textContent = stats.jitterBuffer.min
        document.querySelector('#jitterMax').textContent = stats.jitterBuffer.max
        document.querySelector('#A_V').textContent = stats.audioCurrentTime - stats.videoCurrentTime
      }
      
      urlComponent = new Vue({
        el: '#url',
        data: function () {
          return {
            url: url
          }
        }
      })

      isLiveComponent = new Vue({
        el: '#isLive',
        data: function () {
          return {
            isLive: false
          }
        }
      })

      useMseComponent = new Vue({
        el: '#useMse',
        data: function () {
          return {
            useMse: false
          }
        }
      })

      enableWebGPUComponent = new Vue({
        el: '#enableWebGPU',
        data: function () {
          return {
            enableWebGPU: true
          }
        }
      })

      loopComponent = new Vue({
        el: '#loop',
        data: function () {
          return {
            loop: false
          }
        },
        watch: {
          loop: function(enable) {
            if (player) {
              player.setLoop(enable)
            }
          }
        }
      })

      mediaStreamModeComponent = new Vue({
        el: '#mediaStreamMode',
        data: function () {
          return {
            mediaStreamMode: false
          }
        }
      })

      enableSimdComponent = new Vue({
        el: '#enableSimd',
        data: function () {
          return {
            enableSimd: false
          }
        }
      })

      enableWebCodecsComponent = new Vue({
        el: '#enableWebCodecs',
        data: function () {
          return {
            enableWebCodecs: true
          }
        }
      })

      enableHardwareComponent = new Vue({
        el: '#enableHardwareAcceleration',
        data: function () {
          return {
            enableHardwareAcceleration: true
          }
        }
      })

      enableWorkerComponent = new Vue({
        el: '#enableWorker',
        data: function () {
          return {
            enableWorker: false
          }
        }
      })

      // loaderComponent = new Vue({
      //   el: '#loader',
      //   data: function () {
      //     return {
      //       radio: '1',
      //     }
      //   },
      // })

      renderModeComponent = new Vue({
        el: '#renderMode',
        data: function () {
          return {
            radio: '0',
          }
        },
        watch: {
          radio: function (value) {
            player.setRenderMode(+value)
          }
        }
      })

      renderRotateComponent = new Vue({
        el: '#renderRotate',
        data: function () {
          return {
            radio: '0',
          }
        },
        watch: {
          radio: function (value) {
            player.setRotate(+value)
          }
        }
      })

      new Vue({
        el: '#flipHorizontal',
        data: function () {
          return {
            flipHorizontal: false
          }
        },
        watch: {
          flipHorizontal: function (enable) {
            if (player) {
              player.enableHorizontalFlip(enable)
            }
          }
        }
      })

      new Vue({
        el: '#flipVertical',
        data: function () {
          return {
            flipVertical: false
          }
        },
        watch: {
          flipVertical: function (enable) {
            if (player) {
              player.enableVerticalFlip(enable)
            }
          }
        }
      })

      document.addEventListener('fullscreenchange', () => {
        if (document.fullscreenElement == null) {
          player.resize(480, 360)
        }
        else {
          player.resize(screen.width, screen.height)
        }
      });
    
      // AVPlayer.startPipelines().then(() => {
        document.querySelector('#load').disabled = false
        // loadPlayer('#canvas-background')
      // })

      AVPlayer.setLogLevel(1)

      if (typeof crossOriginIsolated === 'boolean' && !crossOriginIsolated) {
        navigator.serviceWorker.ready.then(function(reg) {
          if (!crossOriginIsolated && !navigator.serviceWorker.controller) {
            window.location.reload()
          }
        })
      }

      function testSupportWasmAtomic() {
        const asm = 'AGFzbQEAAAABBgFgAX8BfwISAQNlbnYGbWVtb3J5AgMBgIACAwIBAAcJAQVsb2FkOAAACgoBCAAgAP4SAAAL'
        const binaryData = atob(asm)
        const uint8Array = new Uint8Array(binaryData.length)
        for (let i = 0; i < binaryData.length; i++) {
          uint8Array[i] = binaryData.charCodeAt(i)
        }

        const instance = WebAssembly.compile(uint8Array).then(() => {
          console.log('atomic support')
        }, () => {
          supportAtomic = false
          console.log('atomic not support')
        })
      }

      function testSupportWasmSimd() {
        const asm = 'AGFzbQEAAAABBQFgAAF7AhIBA2VudgZtZW1vcnkCAwGAgAIDAgEACgoBCABBAP0ABAAL'
        const binaryData = atob(asm)
        const uint8Array = new Uint8Array(binaryData.length)
        for (let i = 0; i < binaryData.length; i++) {
          uint8Array[i] = binaryData.charCodeAt(i)
        }

        const instance = WebAssembly.compile(uint8Array).then(() => {
          console.log('wasm simd support')
          enableSimdComponent.enableSimd = true
        }, () => {
          enableSimdComponent.enableSimd = false
          console.log('wasm simd not support')
        })
      }


      document.querySelector('#ua').textContent = navigator.userAgent

      testSupportWasmAtomic()
      testSupportWasmSimd()
    </script>
</body>
</html>