<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>avtranscoder</title>
  <link rel="stylesheet" href="./element-ui.css" crossorigin>
</head>
<body>

  <div class="outputFormat">
    <span class="label">output format: </span>
    <div id="outputFormat" style="display: inline-block;">
      <el-radio v-model="radio" label="flv">flv</el-radio>
      <el-radio v-model="radio" label="mp4">mp4</el-radio>
      <el-radio v-model="radio" label="ts">mpegts</el-radio>
      <el-radio v-model="radio" label="mkv">matroska</el-radio>
      <el-radio v-model="radio" label="oggs">oggs</el-radio>
      <el-radio v-model="radio" label="ivf">ivf</el-radio>
      <el-radio v-model="radio" label="mp3">mp3</el-radio>
    </div>
  </div>

  <input id="file" type="file" />
  <button onclick="openWriteFile()">打开写文件</button>

  <textarea name="logcatbox" class="logcatBox" rows="10" readonly style="display: block; margin-top: 20px; width: 800px;"></textarea>

  <script>
    window.CHEAP_DISABLE_THREAD = false
  </script>
  <script src="../dist/avtranscoder/avtranscoder.js"></script>
  <script src="./vue.js" crossorigin></script>
  <script src="./element-ui.js" crossorigin></script>
  <script>

    let inputFormatComp;
    let outputFormatComp;

    outputFormatComp = new Vue({
      el: '#outputFormat',
      data: function () {
        return {
          radio: 'mp4',
        }
      }
    })

    let openReadPromise;
    let openWritePromise;
    let supportAtomic = true
    let transcoder

    function process() {
      Promise.all([openWritePromise]).then(async (value) => {

        const writeFileHandler = value[0]

        transcoder = new AVTranscoder({
          enableHardware: false,
          getWasm: (type, codecId) => {
            switch (type) {
              case 'decoder': {

                if (codecId >= 65536 && codecId <= 65572) {
                  return supportAtomic ? '../dist/decode/pcm-atomic.wasm' : '../dist/decode/pcm.wasm'
                }

                switch (codecId) {
                  // H264
                  case 27:
                    return `../dist/decode/h264${supportAtomic ? '-atomic' : ''}.wasm`
                  // AAC
                  case 86018:
                    return supportAtomic ? '../dist/decode/aac-atomic.wasm' : '../dist/decode/aac.wasm'
                  // MP3
                  case 86017:
                    return supportAtomic ? '../dist/decode/mp3-atomic.wasm' : '../dist/decode/mp3.wasm'
                  // HEVC
                  case 173:
                    return supportAtomic ? '../dist/decode/hevc-atomic.wasm' : '../dist/decode/hevc.wasm'
                  // VVC
                  case 196:
                    return supportAtomic ? '../dist/decode/vvc-atomic.wasm' : '../dist/decode/vvc.wasm'
                  // Mpeg4
                  case 12:
                    return supportAtomic ? '../dist/decode/mpeg4-atomic.wasm' : '../dist/decode/mpeg4.wasm'
                  // AV1
                  case 225:
                    return supportAtomic ? '../dist/decode/av1-atomic.wasm' : '../dist/decode/av1.wasm'
                  // Speex
                  case 86051:
                    return supportAtomic ? '../dist/decode/speex-atomic.wasm' : '../dist/decode/speex.wasm'
                  // Opus
                  case 86076:
                    return supportAtomic ? '../dist/decode/opus-atomic.wasm' : '../dist/decode/opus.wasm'
                  // flac
                  case 86028:
                    return supportAtomic ? '../dist/decode/flac-atomic.wasm' : '../dist/decode/flac.wasm'
                  // vorbis
                  case 86021:
                    return supportAtomic ? '../dist/decode/vorbis-atomic.wasm' : '../dist/decode/vorbis.wasm'
                  // vp8
                  case 139:
                    return supportAtomic ? '../dist/decode/vp8-atomic.wasm' : '../dist/decode/vp8.wasm'
                  // vp9
                  case 167:
                    return supportAtomic ? '../dist/decode/vp9-atomic.wasm' : '../dist/decode/vp9.wasm'
                  default:
                    return null
                }
                break
              }
              case 'resampler':
                return supportAtomic ? '../dist/resample/resample-atomic.wasm' : '../dist/resample/resample.wasm'
              case 'scaler':
                return supportAtomic ? '../dist/scale/scale-atomic.wasm' : '../dist/scale/scale.wasm'
              case 'stretchpitcher':
                return supportAtomic ? '../dist/stretchpitch/stretchpitch-atomic.wasm' : '../dist/stretchpitch/stretchpitch.wasm'
            }
          },
        })

        transcoder.setLogLevel(1)

        transcoder.on('task-ended', (taskId) => {
          console.log('task', taskId, 'transcode ended')
        })

        const file = document.querySelector('#file').files[0]

        transcoder.ready().then(() => {
          transcoder.addTask({
            input: {
              file
            },
            // start: 0,
            // duration: 10000,
            output: {
              file: writeFileHandler,
              format: outputFormatComp.radio,
              audio: {
                disable: false,
                codec: 'aac',
                bitrate: 128000,
                // sampleRate: 44100
              },
              video: {
                disable: false,
                codec: 'h264',
                // width: 640,
                // height: 360,
                // bitrate: 500000,
                // framerate: 30
              }
            }
          }).then((taskId) => {
            transcoder.startTask(taskId)
          })
        })
      })
      
    }
    
    function openWriteFile() {
      openWritePromise = window.showSaveFilePicker({
        suggestedName: 'test_muxing.' + outputFormatComp.radio
      })
      process()
    }

    const logcatbox = document.getElementsByName('logcatbox')[0];
    const log = console.log
    console.log = function(tag, msg, style) {
      log(tag, msg)
      logcatbox.value = logcatbox.value + msg + '\n';
      logcatbox.scrollTop = logcatbox.scrollHeight;
    }
  </script>
</body>
</html>