.avplayer-ui-control-timer {
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer
  padding: 0 10px

  opacity: var(--libmedia-ui-control-opacity)
  
  .avplayer-ui-time-label {
    min-width: 66px
  }

  .avplayer-ui-time-div {
    transform: translateX(-1px)
  }

  &:hover {
    opacity: 1
  }
}