<div class="avplayer-ui-control-timer">
  <span class="avplayer-ui-time-label">{{formatTime(currentTime)}}</span>
  <span class="avplayer-ui-time-div">&nbsp;/&nbsp;</span>
  <span class="avplayer-ui-time-label">{{formatTime(totalTime)}}</span>
  <style>{{{style}}}</style>
</div>