node_modules
.DS_store
report.json
test/lib/
ffmpeg-cache
/docs/

dist/**/
dist/*
!dist/decode/
!dist/encode/
!dist/resample/
!dist/scale/
!dist/stretchpitch/

!dist/cheap-polyfill.js

test/material
media/*
media

src/**/dist/
