<div class="libmedia-ui-slider" data-direction="{{direction}}">
  <div class="libmedia-ui-slider-outer" ref="slider">
    <div class="libmedia-ui-slider-inner" style="{{offset}}"></div>
  </div>
  <div class="libmedia-ui-slider-thumb" on-mousedown="mousedown()" style="{{offset}}"></div>
</div>