<div class="avplayer-ui-control-pip hint--top" data-hint="{{pip ? language.TIP_PIP_STOP : language.TIP_PIP_START}}" on-click="pipClick()">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28">
    <g>
      <path d="M23.625 15.75c.966 0 1.75.784 1.75 1.75v4.375a1.75 1.75 0 0 1-1.75 1.75H17.5a1.75 1.75 0 0 1-1.75-1.75V17.5c0-.966.784-1.75 1.75-1.75h6.125ZM21 5.25a2.625 2.625 0 0 1 2.62 2.47l.005.155v5.25a.875.875 0 0 1-1.744.102l-.006-.102v-5.25a.875.875 0 0 0-.773-.87L21 7H7a.875.875 0 0 0-.87.773l-.005.102V19.25c0 .449.338.819.773.87l.102.005h6.125a.875.875 0 0 1 .102 1.744l-.102.006H7a2.625 2.625 0 0 1-2.62-2.47l-.005-.155V7.875a2.625 2.625 0 0 1 2.47-2.62L7 5.25h14Z" stroke-width=".5" fill-rule="evenodd"></path>
    </g>
  </svg>
  <style>{{{style}}}</style>
</div>